body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
    font-weight: 300;
    font-size: 14px;
    color: #282828;
}

html {
    height: 100%;
}

.navBarEffectLight {
    background-color: white;
    transition-duration: 1s;
    /*border-bottom:1px solid #DDDDDD;*/
}

.navBarEffectDark {
    background-color: none;
    transition-duration: 1s;
}

.header {
    background-image: url("../img/portable_bois_cafe3.jpg");
    background-position-y: 0px;
    background-color: #373193;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
    width: 100%;
}

h1 {
    font-size: 64px;
}

.title {
    margin-top: 10%;
    font-family: 'Open Sans', sans-serif;
}

.marge {
    margin-left: 5em;
}

h5 {
    display: inline;
    font-size: 25px;
}

.profile-item a {
    text-decoration: none;
}

.parallax2 {
    background-image: url('../img/business-2089533_1920.jpg');
}

.parallax1 {
    /*background-image: url('../img/cv-numerique.jpg');*/
    background-color: #2a8aff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.parallax {
    /* The image used */
    width: 100%;
    /* Full height */
    height: auto;
    margin: 0;
    padding: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-padding {
    padding: 120px 0 100px;
}

.skills-section {
    background-color: #1a1e23;
    color: #fff;
    padding-bottom: 51px;
}

.text-big {
    font-size: xx-large;
}

.scroll-up {
    position: fixed;
    display: none;
    z-index: 999;
    bottom: 1.8em;
    right: 1.8em;
    box-sizing: border-box;
}

.scroll-up a {
    background-color: #68c3a3;
    display: block;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
}

.scroll-up a:hover {
    background-color: #C1C2C3;
    color: black;
    text-decoration: none;
}


/* card */

.img_card {
    width: 100%;
    object-fit: cover;
}


/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */

@media only screen and (max-device-width: 900px) {
    .parallax {
        background-attachment: scroll;
    }
    /*------------------------------------------*/
    .img {
        position: absolute;
        width: fit-content;
        opacity: 0.5;
    }
}

@media only screen and (min-width: 1300px) {
    .header {
        background-position-y: -400px;
        height: 35em;
    }
}


/*


.chart {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;
    margin: 40px auto;
    text-align: center;
}
.percent {
    display: inline-block;
    margin: auto;
    line-height: 100px;
    z-index: 2;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.chart-text span {
    font-size: 18px;
    font-weight: 200;
    text-transform: capitalize;
    display: block;
    margin-top: 0px;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.percent::after {
    content: '%';
}
 
*/


/* === Skill Section === */

.skills-section {
    background-color: #1a1e23;
    color: #fff;
    margin-bottom: 15px;
}

.skills-section .section-title {
    color: #fff;
    margin-bottom: 110px;
}

.skills-section .section-title h2 {
    color: #fff;
}

.skill-title {
    width: 25%;
    float: left;
}

.skill-title h3 {
    font-size: 18px;
    font-weight: 400;
    margin-top: -6px;
    text-transform: capitalize;
}


/* progress-bar */

.skill-progress {
    position: relative;
}

.progress {
    height: 15px;
    margin-bottom: 40px;
    background-color: #3a4149;
    border-radius: 3px;
    box-shadow: none;
    width: 75%;
}

.progress-bar {
    background-color: #00B0BD;
}

.progress-bar span {
    position: absolute;
    top: -25px;
    right: 15px;
}

.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
}

.skill-chart h3 {
    margin-top: 20px;
}

.our-progress {
    margin: 10px 0 30px;
}

.progress-percent {
    margin-left: auto;
    margin-right: auto;
}

.our-progress h3 {
    font-weight: 400;
    margin-bottom: 5px;
}


/* ==== Autres OS et Logiciels ====*/

.Other_list {
    border: 1px solid #808080;
    padding: 15px;
    border-radius: 5px;
    min-height: 12em;
}

.Other_list ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    margin-top: -6px;
    text-transform: capitalize;
}


/* === Chart CSS  === */

.chart {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 100px;
    margin: 0px auto;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    display: inline-block;
    margin: auto;
    z-index: 2;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.percent:after {
    content: '%';
}

.chart-text span {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    margin-top: 20px;
    line-height: 10px;
}


/* ================== colors =================*/

.bg-blue {
    background-color: #1B4F72;
}

.text-blue {
    color: #1B4F72;
}

.bg-bluemedium {
    background-color: #21618C;
}

.text-bluemedium {
    color: #21618C;
}


/*.percent:after {content: '%';margin-left: 0.1em;font-size: .8em;}*/

.angular {
    margin-top: 100px;
}

.angular .chart {
    margin-top: 0;
}

.chart .chart-text h3 {
    font-size: 22px;
}


/* icones fontawesome  */

.section_title {
    color: #FFFFFF;
}

.icone::before {
    word-spacing: 2000px;
    content: "";
}


/* photo */

.rounded-style {
    border-radius: 5px;
    ;
}

.bg-greylight {
    background-color: #00728c14;
}


/* mobile */

@media only screen and (max-width: 991px) {
    .navbar {
        background-color: #282828;
    }
    .skill-title {
        width: 50%;
    }
    .progress {
        width: 50%;
    }
}


/* ===================== page de chargement =================================*/

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status,
.status-mes {
    background-image: url(../img/484.GIF);
    background-size: 15em;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

.status-mes h4 {
    color: #222;
    margin-top: 30px;
    margin-left: -10px;
}